#body{
    width: 80%;
    margin: 0 auto;
}
#nav-bar{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    display: none;
}
#small-navbar{
    margin-top: 20px;
    display: none;
    grid-template-columns: 1fr 2fr;
    font-size: 28px;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
}
#expander:hover{
    cursor: pointer;
}
#small-links{
    display: flex;
    position: absolute;
    z-index: 10;
    width: 0%;
    height: 400vh;
    overflow-y: hidden;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    transition: 0.4s;

}
#link-area{
    transition: 0.4s;
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    padding: 30px;
}
.nav-item{
    font-size: 28px;
    text-decoration: none;
    color: black;
}
.nav-item:hover{
    cursor: pointer;
}
.nav-item-small{
    margin-top: 20px;
    margin-bottom: 20px;
}
#content{
    height: 100%;
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project-item{
    display: flex;
    margin-bottom: 100px;
}

.text-side{
    flex: 1;
    transform: translateX(0);
    opacity: 0;
    transition: 0.4s;
}
.image-side{
    flex: 1;
    transform: translateX(0);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.content-header{
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: 10px;
}
.technologies{
    margin-bottom: 10px;
}
.project-item:nth-child(2n) .content-header{
    text-align: right;
}

.content-body{
    font-size: 20px;
    line-height: 30px;
}

.image-content{
    margin: 0 auto;
    max-height: 200px;
    max-width: 200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.image-content >img{
    width: 100%;
    height: auto;
    overflow: hidden;
    pointer-events: none;

}

#footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#closing-text{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
#closing-links{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
#closing-links a{
    color: black;
    font-size: 30px;
}

#bottom-spacer{
    width: 100%;
    height: 20px;
}
.contact-me-link:hover{
    cursor: pointer;
}