*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Montserrat', sans-serif;
    font-weight: bold; */
}

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: -10vh;
    position: relative;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    
}
.form-group input, .form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128,128, 128, 0.199);
    margin-top: 5px;
    
}
.input-label{
    position: absolute;
    top: 10px;
    left: 5px;
    transition: 0.3s ease;
    pointer-events: none;
}
.form-group input:focus + .input-label{
    top: -10px;
    font-size: 14px;
    transition: 0.3s ease;
}

.form-group input:valid + .input-label{
    top: -10px;
    font-size: 14px;
    transition: 0.3s ease;
}

textarea{
    resize: vertical;
}

button[type="submit"]{
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 20px;
    font-size: 24px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s ease background-color;
}

button[type="submit"]:hover{
    text-decoration: underline;
    transition: 0.3s ease background-color;
}

#status{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}

.success{
    background-color: rgb(211,250,153);
    animation: status 4s ease forwards;
}

.error{
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}