#programming-language-container{
    margin-top: 20vh;
    font-size: 40px;
    width: 80%;
    min-height: 100px;
    text-align: left;
}
#all-languages-switch{
    position: relative;
    width: 60px;
    height: 34px;
}
#all-languages-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
#all-languages-switch >span{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
}
#extension{
    padding-right: 3px;

}
#experience-carousel{
    
}
#carousel{
    position: relative;
    transform-style: preserve-3d;
    left: -60px;
    
}
#experience-head{
    margin-top: 20vh;
    font-weight: normal;
    text-align: center;
    width: 80vw;
    border-bottom: 1px solid white;
}
.carousel-experience{
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 10px;
}
/*
radius = 207.84
*/
/* .carousel-experience:nth-child(1){
    transform: rotateY(0deg) translateX(-50%) translateZ(207.84px);
}
.carousel-experience:nth-child(2){
    transform: rotateY(60deg) translateX(-50%) translateZ(207.84px);
}
.carousel-experience:nth-child(3){
    transform: rotateY(120deg) translateX(-50%) translateZ(207.84px);
}
.carousel-experience:nth-child(4){
    transform: rotateY(180deg)  translateX(-50%) translateZ(207.84px);
}
.carousel-experience:nth-child(5){
    transform: rotateY(240deg) translateX(-50%) translateZ(207.84px);
}
.carousel-experience:nth-child(6){
    transform: rotateY(300deg) translateX(-50%) translateZ(207.84px);
} */
#google{
    background-image: url('../../Images/Experiences/google.png');
}
#upwork{
    background-image: url('../../Images/Experiences/Upwork.png');
}
#mozilla{
    background-image: url('../../Images/Experiences/mozilla.png');
}
#sloan{
    background-image: url('../../Images/Experiences/sloan.jpg');
}
#coursera{
    background-image: url('../../Images/Experiences/coursera.png');
}
#udemy{
    background-image: url('../../Images/Experiences/udemy.jpg');
}
#assoc-text{
    margin-top: 120px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-weight: normal;
    width: 80vw;
    transition: 0.4s;  
    min-height: 100px; 
    padding-top: 5px;
}
@media only screen and (max-device-width : 1024px)  { 
    #assoc-text{
       min-height: 130px;
    }
}