*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
html{
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}
body{
    height: 100%;
    overflow-x: hidden;
}
.section{
    min-height: 100%;
}
#opening{
    position: relative;
    height: auto;
    padding-bottom: 300px;
    
}


#opening::before{
    color: white;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/Aryo_Cover2.JPG');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    filter: brightness(0.45);
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */

}
@media (max-device-width: 1024){
    #opening::before{
        background-position: 75% 0%;
        background-attachment: scroll;
    }
}
#opening-content{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center ;
}



/*
Name, intro text, quick links below

*/
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translteY(0%);
    }
}
#opening-text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35vh;
    font-size: 20px;
}
@media (max-device-width : 1024px)  { 
    #opening-text{
       margin-top: 15vh;
    }
}

#name{
    animation: fadeIn 2s forwards;
    text-align: center;
    opacity: 0;
    margin-bottom: 10vh;
}
#intro-blurb{
    opacity: 0;
    margin: 0 10%;
    animation: fadeUp 1s forwards;
    animation-delay: 1.5s;
}
@media(max-device-width : 1024px)  { 
    #intro-blurb p{
       text-align: center;
    }
}

#quick-links{
    margin-top: 10vh;
    opacity: 0;
    animation: fadeUp 1s forwards;
    animation-delay: 1.5s;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}
.quick-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: 0.4s;

}
.quick-container-noshow{
    width:100%;
}
.quick-container:hover{
    cursor: pointer;
    transition: 0.4s;
    
    /* border-radius: 50%;
    background-color: white;
    color: black; */
}
.quick-container > a{
    padding-right: 15px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
@media (max-device-width : 1024px)  { 
    #quick-links{
       grid-template-rows: 1fr 1fr;
       row-gap: 80px;
       grid-template-columns: 1fr 1fr;
    }
    .quick-container > a{
        font-size: 50px;
    }
}
.quick-container:hover > a{
    /* color: black; */
    border-bottom: 1px solid white;
}
#learn-more{
    opacity: 0;
    margin-top: 100px;
    animation: fadeUp 1s forwards;
    animation-delay: 1.5s;
    text-align: center;
}
#learn-more:hover{
    cursor: pointer;
}
#learn-more a{
    color: white;
    display: block;
    text-decoration: none;
}